<div class="container">
  <br><br><br>
  {{#each post}}
	  <div class="card">
	    <div class="card-header"><a href="{{this.url}}"><b>{{this.title}}</b></a></div>
	    <div class="card-body">{{this.body}}</div>
	  </div>
	  <br>
  {{/each}}
</div>
